[Unit]
Description=An advanced keyboard manager

[Service]
ExecStart=/bin/bash /home/<user>/.config/kmonad/start.sh

[Install]
WantedBy=multi-user.target
