devices: (
{
    name: "Wireless Mouse MX Master 3";
    smartshift:
    {
        on: true;
        threshold: 10;
    };
    hiresscroll:
    {
        hires: true;
        invert: false;
        target: false;
    };
    dpi: 1200;
    
    // Horizontal (thumb) scroll
    thumbwheel: {
        # divert: true;
        invert: true;
    };
    # thumbwheel: {
    #     divert: true;
    #     invert: false;
    #     left: {	
    #         mode:"OnInterval";
    #         pixels: 8;
    #         action: { 
    #             type:"Keypress";
    #             keys: ["KEY_LEFTCTRL" , "KEY_TAB"];
    #         };
    #     };
    #     right: {
    #         mode:"OnInterval";
    #         pixels: 8;
    #         action: { 
    #             type:"Keypress";
    #             keys: ["KEY_LEFTCTRL", "KEY_LEFTSHIFT" , "KEY_TAB"];
    #         };
    #     };
    # };
    buttons: (
        // Gestures button
        {
            cid: 0xc3;
            action =
            {
                type: "Gestures";
                gestures: (
                    {
                        // Show grid desktop (KDE)
                        direction: "Up";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            // keys: ["KEY_LEFTMETA", "KEY_F8"];
                            keys: ["KEY_LEFTMETA", "KEY_TAB"];
                        };
                    },
                    {
                        // Show all window (KDE)
                        direction: "Down";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTCTRL", "KEY_F10"];
                        };
                    },
                    {
                        // Right Desktop (KDE)
                        direction: "Left";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTSHIFT", "KEY_LEFTCTRL", "KEY_LEFTALT", "KEY_I"];
                        };
                    },
                    {
                        // Left Desktop (KDE)
                        direction: "Right";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTSHIFT", "KEY_LEFTCTRL", "KEY_LEFTALT", "KEY_U"];
                        };
                    },
                    {
                        direction: "None";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_LEFTCTRL", "KEY_LEFTALT", "KEY_S"];
                        };
                    }
                );
            };
        },

    // Forward button
        {
            cid: 0x56
            action =
            {
                type:"Gestures"
                gestures: (
                    {
                        direction:"None"
                        mode:"OnRelease"
                        action =
                        {
                            type:"Keypress"
                            keys: ["KEY_FORWARD"] // default forward button
                        }
                    },

                    {
                        // Close tab
                        direction:"Up"
                        mode:"OnRelease"
                        action = {
                            type:"Keypress"
                            keys: ["KEY_LEFTCTRL", "KEY_W"]
                        }
                    },

                    {
                        // Open recently closed tab
                        direction:"Down"
                        mode:"OnRelease";
                        action = {
                            type:"Keypress"
                            keys: ["KEY_LEFTCTRL", "KEY_LEFTSHIFT", "KEY_T"]
                        }
                    },

                    {
                        // Left tab
                        direction:"Right"
                        mode:"OnRelease"
                        action =
                        {
                            type:"Keypress"
                            keys: ["KEY_LEFTCTRL", "KEY_LEFTSHIFT", "KEY_TAB"]
                        }
                    },

                    {
                        // Right tab
                        direction:"Left"
                        mode:"OnRelease"
                        action =
                        {
                            type:"Keypress"
                            keys: ["KEY_LEFTCTRL", "KEY_TAB"]
                        }
                    }
                )
            }
        },
    // Backward button
        {
            cid: 0x53
            action =
            {
                type:"Gestures"
                gestures: (
                    {
                        direction:"None"
                        mode:"OnRelease"
                        action =
                        {
                            type:"Keypress"
                            keys: ["KEY_BACK"] // default backward button
                        }
                    },

                    {
                        // goldendict
                        direction:"Up"
                        mode:"OnRelease"
                        action = {
                            type:"Keypress"
                            keys: ["KEY_LEFTSHIFT", "KEY_LEFTMETA", "KEY_LEFTCTRL", "KEY_LEFTALT", "KEY_P"]
                        }
                    },

                    {
                        // Cut
                        direction:"Down"
                        mode:"OnRelease";
                        action = {
                            type:"Keypress"
                            keys: ["KEY_LEFTCTRL", "KEY_X"]
                        }
                    },

                    {
                        // Paste
                        direction:"Right"
                        mode:"OnRelease"
                        action =
                        {
                            type:"Keypress"
                            keys: ["KEY_LEFTSHIFT", "KEY_INSERT"]
                        }
                    },

                    {
                        // Copy
                        direction:"Left"
                        mode:"OnRelease"
                        action =
                        {
                            type:"Keypress"
                            keys: ["KEY_LEFTCTRL", "KEY_INSERT"]
                        }
                    }
                )
            }
        },
    );
}
);
