[user]
	name = py2048
	email = quannhn2001@gmail.com

[core]
    pager = delta -s

[interactive]
    diffFilter = delta -s --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[credential]
	helper = store
