<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>Label</key>
	<string>homebrew.mxcl.aria2</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/aria2c</string>
		<string>--enable-rpc=true</string>
        <string>--rpc-secret=pPt6+siD4lGW5GXK</string>
		<string>--rpc-allow-origin-all=true</string>
		<string>--rpc-listen-all=true</string>
		<string>--rpc-listen-port=6800</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/minhquandoan/Downloads</string>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>/Users/minhquandoan/.cache/aria2/aria2.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/minhquandoan/.cache/aria2/aria2.err.log</string>
</dict>
</plist>
